<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<false/>
	<key>autohide-time-modifier</key>
	<real>0.11999999731779099</real>
	<key>largesize</key>
	<real>54</real>
	<key>last-messagetrace-stamp</key>
	<real>525981275.23882997</real>
	<key>loc</key>
	<string>en_US</string>
	<key>magnification</key>
	<false/>
	<key>mineffect</key>
	<string>scale</string>
	<key>minimize-to-application</key>
	<true/>
	<key>mod-count</key>
	<integer>223</integer>
	<key>mru-spaces</key>
	<false/>
	<key>orientation</key>
	<string>right</string>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>file-label</key>
				<string></string>
			</dict>
			<key>tile-type</key>
			<string>spacer-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1368837917</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va8gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA6AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zCAAAAAEBAABNYWlsLmFwcAgAAAABBgAABAAA
				ABgAAAAIAAAABAMAAEcAAAAAAAAACAAAAAQDAACjPQAA
				AAAAAAgAAAABBgAAOAAAAEgAAAAIAAAAAAQAAEG93tHY
				AAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAA
				AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRv
				c2ggSEQIAAAABAMAAAAAzs1aAAAACAAAAAAEAABBviZl
				/QAAACQAAAABAQAAMTU4QTkxM0YtNDE2RC0zOTA3LUJD
				MEEtRDk2NEU5RTVEODQwGAAAAAECAACBAAAAAQAAAO8T
				AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
				AKEAAAABAgAAOGZlNGE1OTk0MzQ3NDZkMGU0OWJhM2I5
				YzUwODcwMGNmMjE3MDJlMzswMDAwMDAwMDswMDAwMDAw
				MDswMDAwMDAwMDAwMDAwMDFhO2NvbS5hcHBsZS5hcHAt
				c2FuZGJveC5yZWFkOzAwMDAwMDAxOzAxMDAwMDA1OzAw
				MDAwMDAwMDAwMDNkYTM7L2FwcGxpY2F0aW9ucy9tYWls
				LmFwcAAAAACoAAAA/v///wEAAAAAAAAADQAAAAQQAAAo
				AAAAAAAAAAUQAABYAAAAAAAAABAQAAB4AAAAAAAAAEAQ
				AABoAAAAAAAAAAIgAAAoAQAAAAAAAAUgAACYAAAAAAAA
				ABAgAACoAAAAAAAAABEgAADcAAAAAAAAABIgAAC8AAAA
				AAAAABMgAADMAAAAAAAAACAgAAAIAQAAAAAAADAgAAA0
				AQAAAAAAAIHwAAA8AQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.mail</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Mail.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Mail</string>
				<key>file-mod-date</key>
				<integer>3581748692</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3586231376</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>3747243550</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9vazQDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAMAIAAAUAAAABAQAAVXNlcnMA
				AAAGAAAAAQEAAGxlc3RhZAAACQAAAAEBAABEb3dubG9h
				ZHMAAAAMAAAAAQYAAAQAAAAUAAAAJAAAAAgAAAAEAwAA
				NmIGAAAAAAAIAAAABAMAADSpCQAAAAAACAAAAAQDAAA3
				qQkAAAAAAAwAAAABBgAATAAAAFwAAABsAAAACAAAAAAE
				AABBvMrETAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
				AAAAAAAAAAAACAAAAAQDAAABAAAAAAAAAAQAAAADAwAA
				9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
				dG9zaCBIRAgAAAAEAwAAAAAALXQAAAAIAAAAAAQAAEG+
				JmX9AAAAJAAAAAEBAAAxNThBOTEzRi00MTZELTM5MDct
				QkMwQS1EOTY0RTlFNUQ4NDAYAAAAAQIAAIEAAAABAAAA
				7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAAB
				BQAAqAAAAAECAAAyMzY1MTc1MWU0MTAwNjliYWQ1Yzli
				ZTYxNzdkMWZiMDVkOThlMTgzOzAwMDAwMDAwOzAwMDAw
				MDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFw
				cC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7MDEw
				MDAwMDQ7MDAwMDAwMDAwMDA5YTkzNzsvdXNlcnMvbGVz
				dGFkL2Rvd25sb2FkcwDMAAAA/v///wEAAAAAAAAAEAAA
				AAQQAAA4AAAAAAAAAAUQAAB8AAAAAAAAABAQAACgAAAA
				AAAAAEAQAACQAAAAAAAAAAIgAABsAQAAAAAAAAUgAADc
				AAAAAAAAABAgAADsAAAAAAAAABEgAAAgAQAAAAAAABIg
				AAAAAQAAAAAAABMgAAAQAQAAAAAAACAgAABMAQAAAAAA
				ADAgAAB4AQAAAAAAAAHAAADAAAAAAAAAABHAAAAUAAAA
				AAAAABLAAADQAAAAAAAAAIDwAACAAQAAAAAAAA==
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/lestad/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>3576208368</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>parent-mod-date</key>
				<integer>3576212345</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>1</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>showAppExposeGestureEnabled</key>
	<true/>
	<key>tilesize</key>
	<real>28</real>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
